@{
    ViewData["Title"] = "Login page";
    Layout = null;
}

<form action="/login">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <button>Submit</button>
</form>
@if (Model != null)
{
    <h1>@Model</h1>
}
@ViewBag.Error;